<div class="container">
  <h1>
    Skills Angular <br />
    {{ title }}
  </h1>

  <p>
    Hi everyone, in this project, you will find the most basic skills about
    <strong>Angular</strong>.<br />
    I will add a list covering everything with links to ensure easy navigation
    and access to great content. Thank you for reading!<br />
    I hope you will learn or discover something interesting here!
    <br />Thank you for reading! Enjoy!
  </p>

  <p>
    Salut tout le monde, dans ce projet, vous trouverez les compétences les plus
    simples concernant <strong>Angular</strong>.<br />
    Je vais ajouter une liste couvrant tout, avec des liens pour assurer une
    navigation aisée et un accès à un excellent contenu. !<br />
    J'espère que vous apprendrez ou découvrirez quelque chose d'intéressant ici
    !<br />
    Amusez-vous bien !
  </p>
  <app-learning></app-learning>
</div>
